<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/base :: headerfiles(#{admin.concertoForm.titolo})"></head>

    <body th:replace="fragments/base :: body(~{::main})">

        <main class="container-fluid px-lg-5 py-3 bg-light">
            <!-- Form concerto -->
            <section class="container px-lg-5">
                <h1 class="text-center" th:text="#{admin.concertoForm.titolo}"></h1>
                <form th:action="@{/admin/concerti/new}" method="post" th:object="${concerto}">
                    <!-- Errori Globali -->
                    <div class="row mt-3">
                        <div class="col col-md-4"></div>
                        <div class="col-12 col-md-4" th:if="${#fields.hasGlobalErrors()}">
                            <div class="alert alert-danger">
                                <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Form id Concerto (per la modifica) -->
                    <div>
                        <input type="hidden" th:field="*{id}" />
                    </div>
                    <!-- Form Nome Concerto -->
                    <div class="row mt-3">
                        <div class="col col-md-4"></div>
                        <div class="col-12 col-md-4">
                            <div class="form-floating">
                                <input id="nome" type="text" class="form-control" placeholder=" " th:field="*{nome}">
                                <label for="nome" th:text="#{admin.concertoForm.nome}"></label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-1 mt-md-0" th:if="${#fields.hasErrors('nome')}">
                            <div class="alert alert-danger" th:errors="*{nome}"></div>
                        </div>
                    </div>
                    <!-- Form Data Concerto -->
                    <div class="row mt-3">
                        <div class="col col-md-4"></div>
                        <div class="col-12 col-md-4">
                            <div class="form-floating">
                                <input id="data" type="date" class="form-control" placeholder=" " th:field="*{data}">
                                <label for="data" th:text="#{admin.concertoForm.data}"></label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-1 mt-md-0" th:if="${#fields.hasErrors('data')}">
                            <div class="alert alert-danger" th:errors="*{data}"></div>
                        </div>
                    </div>
                    <!-- Form Orario Concerto -->
                    <div class="row mt-3">
                        <div class="col col-md-4"></div>
                        <div class="col-12 col-md-4">
                            <div class="form-floating">
                                <input id="orario" type="time" class="form-control" placeholder=" " th:field="*{orario}">
                                <label for="orario" th:text="#{admin.concertoForm.orario}"></label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-1 mt-md-0" th:if="${#fields.hasErrors('orario')}">
                            <div class="alert alert-danger" th:errors="*{orario}"></div>
                        </div>
                    </div>
                    <!-- Select Luogo di Svolgimento -->
                    <div class="row mt-3">
                        <div class="col col-md-4"></div>
                        <div class="col-12 col-md-4">
                            <div class="form-floating">
                                <select id="luoghi" class="form-select" th:field="*{luogo}">
                                    <option selected disabled value="" th:text="#{admin.concertoForm.luoghi.option}"></option>
                                    <option th:each="luogo : ${luoghi}" th:text="${luogo.nome}" th:value="${luogo.id}">
                                    </option>
                                </select>
                                <label for="luoghi" th:text="#{admin.concertoForm.luoghi}"></label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-1 mt-md-0" th:if="${#fields.hasErrors('luogo')}">
                            <div class="alert alert-danger" th:errors="*{luogo}"></div>
                        </div>
                    </div>
                    <!-- Conferma -->
                    <div class="row mt-3">
                        <div class="col col-md-4"></div>
                        <div class="col-12 col-md-4 d-grid">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa-solid fa-floppy-disk"></i>
                                <span th:text="#{admin.concertoForm.salva}"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </main>

    </body>

</html>